@import "colors";

$gunmetal: #293132ff;
$ash-gray: #a3bbadff;
$jasper: #d5573bff;
$glaucous: #7d82b8ff;
$neon-blue: #5465ffff;

$logoSize: 10rem;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $blue-gray-50;
  font-size: 16px;
}

#font-box {
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

#logoBox {
  display: flex;
  flex-flow: column;
  width: $logoSize;
  height: $logoSize;
  padding: 2rem;
  background-color: $gunmetal;
  font-size: 4rem;
  border-radius: 12px;
  color: white;
  text-align: center;
  //font-family: "Roboto Mono", sans-serif;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 900;

  .row-3-letters {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .row-4-letters {
    display: flex;
    justify-content: space-between;
  }
}